<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
        html {
            font-family: 'Inconsolata', monospace;
            font-weight: 700;
            font-size: 20px;
    }
    </style>
    <title>Hello</title>
</head>
<body>
    
    <div class="container justify-content-center mt-5" style="width: fit-content ">
        {% if username %}
        <h3>Ciao {{username}} !</h4>
        <h4>Your best score is {{best_score}}</h4>
        
        <a href="{% url 'logout' %}">logout</a>
        <hr class="dashed">
        <form action="{%url 'quiz' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Start</button>
        </form>
        {% else %}
        <h1>Ciao stranger! Welcome in moltopiccolo</h1>
        <h4>Please login with a username to begin your training. </h4>
        
        <a href="{% url 'login' %}"> login </a>

        
        {% endif %}
        
    
    </div>
</body>


</html>