<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
        body {
            font-family: 'Inconsolata', monospace;
            font-weight: 700;
            font-size: 20px;
    }
        a {
        box-shadow: inset 0 0 0 0 #85dd6a;
        color: #609350;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
        a:hover {
        box-shadow: inset 100px 0 0 0 #4a8244;
        color: white;
        }


    </style>
    <title>Hello</title>
</head>
<body>
    
    <div class="container justify-content-center mt-5" style="width: fit-content ">
        {% if username %}
        <h1>Ciao {{username}} !</h4>
        <h3>Your best score is {{best_score}}</h4>
        
        <a href="{% url 'logout' %}">logout</a>
        <hr class="dashed">
        <form action="{%url 'quiz' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success btn-lg">Start</button>
        </form>
        {% else %}
        <h1>Ciao stranger! Welcome in moltopiccolo</h1>
        <h4>Please login with a username to begin your italian training. </h4>
        
        <a href="{% url 'login' %}"> login </a>

        <img src="https://static.vecteezy.com/system/resources/previews/021/311/734/original/pizza-transparent-background-png.png" alt="Italian Flag Brush" width="100" height="100">

        
        {% endif %}
        
    
    </div>
</body>


</html>